* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    color: #604B83;
}
.background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 967px;
    z-index: -1;
}
.wrapper {
    margin: 0 auto;
    width: 100%;
    min-height: 967px;
    max-width: 1160px;
}
.first-container {
    margin: 0 auto;
    width: 100%;
    height: 967px;
}
.fc-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 68px;
}
.header-contact {
    display: flex;

    flex-direction: row;
}
.header-contact-phone {
    display: flex;  
    flex-direction: row;
}
.header-contact-telegram {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}
.header-contact-phone > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: white;
    margin-left: 12px;
}
.header-contact-telegram > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: white;
    margin-left: 12px;
}
.phone-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background: #F4AB00;
}
.phone-image > img {
    width: 12px;
    height: 12px;
}

.header-net {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

@media screen and (max-width: 567px) {
    .fc-header {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        gap: 30px;
        padding: 5px;
    }
}
@media screen and (max-width: 500px) {
    .fc-header {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        gap: 30px;
        padding: 5px;
    }
    .header-contact {
        flex-direction: column;
        gap: 20px;
    }
    .header-contact-telegram {
        margin-left: 0px;
    } 
}